@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

/* variables */

:root {
    --fontBase: "DM Sans", sans-serif;
    --backgroundColor: #0f0f0f;
    --level1Dark: #1e1e1e;
    --level2Dark: #222222;
    --level3Dark: #363636;
    --level4Dark: #242424;
    --level5Dark: #272727;
    --level6Dark: #2c2c2c;
    --level7Dark: #2d2d2d;
    --level8Dark: #343434;
    --level9Dark: #383838;
    --purple: #bb86fc;
    --peach: #f4ae95;
    --cyan: #03dac5;
    --error: #cf6679;
    --halfWhite: #d6d4d4;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--fontBase);
    line-height: 1.4;
    text-decoration: none;
    list-style-type: none;
}

body,
html {
    overflow-x: hidden !important;
}

body {
    width: 100%;
    height: auto;
    background: var(--backgroundColor);
    color: aqua;
}

body::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

a {
    text-decoration: none;
    font-size: 1.3rem;
}

select:focus,
input:focus,
textarea:focus {
    outline: none;
}

.grid-container{
    box-shadow: -2px -2px 4px rgba(46, 45, 45, 0.6), 4px 4px 4px rgba(0, 0, 0, 0.6), 0 0 0 rgba(255, 255, 255, 0.2) inset, 0 0 0 rgba(0, 0, 0, 0.4) inset;
    background: var(--backgroundColor);
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    gap: 1.25rem;
    text-align: center;
}

.grid-container-skills{
    box-shadow: -2px -2px 4px rgba(46, 45, 45, 0.6), 4px 4px 4px rgba(0, 0, 0, 0.6), 0 0 0 rgba(255, 255, 255, 0.2) inset, 0 0 0 rgba(0, 0, 0, 0.4) inset;
    background: var(--backgroundColor);
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    padding: 1rem;
}

@media (min-width: 640px) {
    .grid-container{
        padding: 1.75rem /* 28px */;
        text-align: start;
}
    .grid-container-skills{
        padding: 2rem /* 28px */;
}
}


@layer utilities {

.grid-headtext {
    @apply text-xl font-semibold mb-2 text-[#f4ae95];
}

.grid-subtext {
    @apply text-[#afb0b6] text-base;
}

.copy-container {
    @apply cursor-pointer flex justify-center items-center gap-2;
}

.btn {
    @apply flex gap-4 items-center justify-center cursor-pointer p-3 rounded-md bg-black-300  transition-all active:scale-95 text-white mx-auto;
}


.btn-ping {
    @apply animate-ping absolute inline-flex h-full w-full rounded-full bg-[#29de29] opacity-75;
}

.btn-ping_dot {
    @apply relative inline-flex rounded-full h-3 w-3 bg-[#22c022] ;
}
}

@keyframes wave {
    0% {
        transform: rotateZ(-15deg);
    }
    50% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(-15deg);
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0.5;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}